EC2 (day-1)/backend/node_modules
EC2 (day-1)/frontend/node_modules

Pipelines (day -2)/GitHub-Docker-and-Jenkins-CI-CD-Pipeline/nodeapp/node_modules
EC2 (day-1)/backend/node_modules
EC2 (day-1)/frontend/node_modules

keys

Pipelines (day -2)/Pipelines/nodeapp/node_modules

Pipelines (day -2)/docker-basics/Docker-Full-Tutorial-Codes-and-Notes/Containerize Simple JavaScript Application/node_modules

Pipelines (day -2)/docker-basics/Docker-Full-Tutorial-Codes-and-Notes/Containerize React Vite App/node_modules
Pipelines (day -2)/docker-basics/Docker-Full-Tutorial-Codes-and-Notes/Containerize React Application/node_modules

Pipelines (day -2)/docker-basics/Docker-Full-Tutorial-Codes-and-Notes/Containerize Node Application/node_modules

Pipelines (day -2)/docker-basics/Docker-Full-Tutorial-Codes-and-Notes/Containerize MERN Application/node_modules